.arrivals {

    max-width: 1780px;
    margin: 0 auto;
    padding: 0 30px;
    margin-top: 100px;
     margin-bottom: 100px;
}
.container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.arrivals__header {
    margin-bottom: 100px;
}

.arrivals__cards {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    margin: 0 auto;
}

@media screen and (min-width: 767px) and (max-width: 1219px){
    .arrivals__cards {
    display: flex;
    flex-wrap: wrap;
     justify-content: space-between;
}

}

@media screen and (min-width: 375px) and (max-width: 766px){
  .arrivals {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .arrivals__header {
    margin-bottom: 30px;
    text-align: center;
  }
  .arrivals__cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
  }

}