.title {
  display: block;
  position: relative;
  overflow: hidden;
  

}

.bg {
  padding: 50px;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}


#logo path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 2s ease forwards;
  
}


@keyframes fillText {
  to {
    fill: #fff; 
  }
}


.title.hovered #logo {
  fill: var(--hover-color);
}

@media screen and (min-width: 375px) and (max-width: 767px){
  .title {
  margin: 30px;
}

}